 *{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 20px;
 }
 /* @media only screen and (max-width: 600px) {
.container-g{
  display: grid;
  grid-template-columns: 1fr ;
}
} */
 
 @media only screen and (max-width: 675px){
  
  .cont-head{
    background-color: #4099ff;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .Container{
    display: grid;
    grid-template-columns: 1fr;
  }
  .main-container{
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
.Container{
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: auto;
  grid-template-areas: '';
  color: #414141;
  line-height: 1.6;
    overflow-wrap: break-word;
    justify-content: center;
    align-items: center;

}
.cont-head{
  display: flex;
  justify-content: space-around;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-area: 'nav';
  padding: 40px 40px 0 40px;
  justify-content: space-between;
  grid-area: 'nav';
}

.ul-list{
  float: right;
  list-style-type:none;
  font-size: 20px;
  margin-bottom:20px;
 
}
.logo{
  min-width: 200;
}
.nav-list-items{
  display: inline-block;
  border-bottom: 5px solid transparent;
  padding: 0 10px 0 10px;
  margin: 0 10px 0 10px;

}

.main-list{
  position: relative;
  left: 30px;
}
a{
  color: rgb(2, 120, 28) ;
  text-decoration: none;
}
.nav-list-items:hover{
  border-color: rgb(2, 120, 28)
}

.main-container{
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 40px 40px 0 40px;
  grid-area: 'main';
  border-right: 1px solid rgb(204, 204, 204);
  grid-area: 'main';
  text-align: center;
}

.sidebar{
  grid-area: 'side';
  padding: 20px 20px 0 20px;
  }

.footer{
grid-column-start: 1;
grid-column-end: 4;
  grid-area: 'footer';

}
.listy{
  list-style-type:decimal;
}
.btn{
  background-color: #2b8a3e;
  color: #fff;
  padding: 12px 23px;
  font-size: 14px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}
.btnsub{
  display: flex;
justify-content: center;
margin-bottom: 10px;
   
}
.foot_list{
  display: flex;
  justify-content: center;
}
.foot_list >a {
  margin: 0 5px;
  padding: 15px 25px;
}
.social{
    padding: 5px 15px;
    border-radius: 30px;
    font-size: 0.85rem;
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
}
#twitbtn{
  background-color: #4099ff;
}
#fbbtn{
  background-color: #3b5998;
}
#kofbtn{
  background-color: #6a1b9a;
}
.footer{
  text-align: center;
}
.footnews{
  padding-top: 20px;
}
h1{
  font-size: 1.8rem;
  font-weight: normal;
} 
h2{
  font-size: 1.5rem;
  font-weight: normal;
  margin: 20px 0 10px 0;
}
h1,h2,h4,h5{
  margin-bottom: .5rem;
  line-height: 1.25;
}
h5,h4{
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1rem;
}
p{
  display: block;
  margin-bottom: 20px;
}
